services:
  grafana:
    extends:
      file: .config/docker-compose-base.yaml
      service: grafana
    depends_on:
      - grpc
#    environment:
#      - GF_SECURITY_ADMIN_USER=admin
#      - GF_SECURITY_ADMIN_PASSWORD=password

  #    extra_hosts:
#      - "host.docker.internal:host-gateway"

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "SqlServer2019!"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Developer"
    ports:
      - "1433:1433"

  load_gen:
#    container_name: sqlsights-grpc
    image: guilhermearpassos/sql-sight:v1.0.17
    build: .

    command:
      - "load_gen"
      - "--config=/cfg/agent.toml"
    volumes:
      - "./local/docker:/cfg"
    depends_on:
      - sqlserver

  migrate:
    container_name: sqlsights-migrate
    image: guilhermearpassos/sql-sight:v1.0.17
    command:
      - "migrate"
      - "--pg-addr=postgres://postgres:example@postgres:5432/postgres?sslmode=disable"
    volumes:
      - "./local/docker/collector.toml:/collector.toml"
    depends_on:
      - postgres
  collector:
    container_name: sqlsights-collector
    image: guilhermearpassos/sql-sight:v1.0.17
    command:
      - "collector"
      - "--config=/collector.toml"
    volumes:
      - "./local/docker/collector.toml:/collector.toml"
    depends_on:
      - migrate
      - postgres

  agent:
    container_name: sqlsights-agent
    image: guilhermearpassos/sql-sight:v1.0.17
    command:
      - "agent"
      - "--config=/agent.toml"
    volumes:
      - "./local/docker/agent.toml:/agent.toml"
    depends_on:
      - collector
      - sqlserver


  grpc:
    container_name: sqlsights-grpc
    image: guilhermearpassos/sql-sight:v1.0.17
#    build: .
    command:
      - "grpc"
      - "--config=/cfg/grpc.toml"
    volumes:
      - "./local/docker:/cfg"
    depends_on:
      - migrate
#
  ui:
    image: guilhermearpassos/sql-sight:v1.0.17
    command:
      - "ui"
      - "--grpc-addr=grpc:8082"
      - "--frontend-addr=0.0.0.0:8080"
    depends_on:
      - grpc
    ports:
      - "9080:8080"
  postgres:
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    restart: always

    environment:
      POSTGRES_PASSWORD: example

  jaeger-all-in-one:
    image: jaegertracing/all-in-one:latest
    restart: always
    ports:
      - "16686:16686"
      - "14268"
      - "14250"

  # Zipkin
  zipkin-all-in-one:
    image: openzipkin/zipkin:latest
    environment:
      - JAVA_OPTS=-Xms1024m -Xmx1024m -XX:+ExitOnOutOfMemoryError
    restart: always
    ports:
      - "9411:9411"

  # Collector
  otel-collector:
    image: otel/opentelemetry-collector:0.121.0
    restart: always
    command: ["--config=/etc/otel-collector-config.yaml"]
    volumes:
      - ./otel-collector-config.yaml:/etc/otel-collector-config.yaml
    ports:
      - "1888:1888"   # pprof extension
      - "8888:8888"   # Prometheus metrics exposed by the collector
      - "8889:8889"   # Prometheus exporter metrics
      - "13133:13133" # health_check extension
      - "4317:4317"   # OTLP gRPC receiver
      - "55679:55679" # zpages extension
    depends_on:
      - jaeger-all-in-one
      - zipkin-all-in-one
