<table class="table table-bordered table-hover" id="snapshots-table">
    <thead>
    <tr>
        <th hx-get='/snapshots/sort?column=timestamp&direction={{if eq .SortDirection "asc"}}desc{{else}}asc{{end}}'
            hx-target="#snapshots-table-container" hx-swap="innerHTML"
            hx-trigger="click"
            aria-sort='{{if ne .SortColumn "timestamp"}}none{{else}}{{if eq .SortDirection "asc"}}ascending{{else}}descending{{end}}{{end}}'>
            Timestamp
        </th>
        <th hx-get='/snapshots/sort?column=connections&direction={{if eq .SortDirection "asc"}}desc{{else}}asc{{end}}'
            hx-target="#snapshots-table-container" hx-swap="innerHTML"
            hx-trigger="click"
            aria-sort='{{if ne .SortColumn "connections"}}none{{else}}{{if eq .SortDirection "asc"}}ascending{{else}}descending{{end}}{{end}}'>
            Connections
        </th>
        <th >
            Wait Event Groups
        </th>
        <th >
            Users
        </th>
        <th >
            # Waiters
        </th>
        <th >
            # Blockers
        </th>
        <th >
            Wait Duration
        </th>
        <th >
            Average Duration
        </th>
        <th >
            Max Duration
        </th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{range $snap := .Snapshots}}
    <tr data-snapshot-id="{{.ID}}">
        <td>{{$snap.Timestamp.Format "2006-01-02 15:04:05"}}</td>
        <td>{{$snap.Connections}}</td>
        <td><div class="stacked-bar">
            {{range $snap.WaitEvGroups}}
            <div
                    class="bar-segment {{.Color}}"
                    data-percent="{{.Percent}}"
                    style="width: {{.Percent}}%;"
                    title="{{.Type}}: {{.Percent}}%">
            </div>
            {{end}}
        </div></td>
        <td>{{$snap.Users}}</td>
        <td>{{$snap.WaitersNo}}</td>
        <td>{{$snap.BlockersNo}}</td>
        <td>{{$snap.WaitDuration}}</td>
        <td>{{$snap.AvgDuration}}</td>
        <td>{{$snap.MaxDuration}}</td>
        <td>
            <button class="btn btn-info" hx-get="/samples/{{$snap.ID}}" hx-target="#queries---{{$snap.ID}}"
                    hx-swap="innerHTML" hx-trigger="click">View Queries
            </button>
        </td>
    </tr>
    <tr class="expandable-row" id="queries---{{$snap.ID}}">
    </tr>
    {{end}}
    </tbody>

</table>
<div class="pagination">
    <button class="btn btn-info"
            hx-target="#snapshots-table-container" hx-swap="innerHTML"
            hx-get="/snapshots?page=1" hx-push-url="true"
            {{if eq .CurrentPage 1}}disabled{{end}}>
        First
    </button>

    <button class="btn btn-info"
            hx-target="#snapshots-table-container" hx-swap="innerHTML"
            hx-get="/snapshots?page={{.PreviousPage}}" hx-push-url="true"
            {{if eq .CurrentPage 1}}disabled{{end}}>
        Previous
    </button>
    {{ $root := . }}

    {{ $currentPage := (printf "%d" .CurrentPage) }}
    {{range $page := .PageRange}}
    {{ if eq $page "..."}}
    <span class="ellipsis">...</span>
    {{else}}
    <a
            hx-target="#snapshots-table-container" hx-swap="innerHTML"
            hx-get="/snapshots?page={{$page}}" hx-push-url="true"
            class="btn btn-sm btn-info{{if eq $page $currentPage}}-current{{end}}">
        {{$page}}
    </a>
    {{end}}
    {{end}}

    <button class="btn btn-info"
            hx-target="#snapshots-table-container" hx-swap="innerHTML"
            hx-get="/snapshots?page={{.NextPage}}" hx-push-url="true"
            {{if eq .CurrentPage .TotalPages}}disabled{{end}}>
        Next
    </button>

    <button class="btn btn-info"
            hx-target="#snapshots-table-container" hx-swap="innerHTML"
            hx-get="/snapshots?page={{.TotalPages}}" hx-push-url="true"
            {{if eq .CurrentPage .TotalPages}}disabled{{end}}>
        Last
    </button>
</div>