<td colspan="10">
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th>SID</th>
            <th>Query</th>
            <th>Execution Time</th>
            <th>BlockingImpact</th>
            <th>Wait Event</th>
            <th>Database</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        {{range $sample := .QuerySamples}}
        <tr>
            <td {{if eq $sample.IsBlocker true}}style=" color:#ff2f2f" {{end}}
                hx-trigger="click" hx-include="#selected-timerange,#selected-server" hx-target="#samples_modal_container" hx-swap="outerHTML"
                hx-get="/query-details?snapID={{$sample.SnapID}}&sampleID={{$sample.SampleID}}">
                {{if eq $sample.IsBlocker true}}<i class="fas fa-lock" style="padding-right: 6px;"></i>
                {{else}}
                {{if eq $sample.IsWaiter true}}<i class="fa-regular fa-clock" style="padding-right: 6px;"></i>
                {{end}}
                {{end}}
                <span>{{$sample.SID}}</span>
            </td>
            <td class="truncated-sql-text">
                <span class="sql-text">{{$sample.Query}}</span>
            </td>
            <td>{{$sample.ExecutionTime}}</td>
            <td>{{$sample.BlockDetails}}</td>
            <td>{{$sample.WaitEvent}}</td>
            <td>{{$sample.Database}}</td>
            <td>{{$sample.User}}</td>
        </tr>
        {{end}}
        </tbody>
    </table>
</td>