<div class="slideover-wrapper {{.State}}" id="slideover-wrapper" onclick="handleOutsideClick(event)">
        <div class="slideover" id="slideover">
        <div class="slideover-content">
            <!--            <h1 >-->
            <!--                <img src="/static/icons/{{.DatabaseType}}.svg" alt="{{.DatabaseType}}" style="height: 80px">-->
            <!--                 <div class="mb-4 text-4xl leading-none tracking-tight md:text-5xl lg:text-6xl ">{{.ServerName}}</div></h1>-->
            <input hidden id="selected-server" name="selected-server" value="{{.ServerName}}"/>
            <div class="card">
                <div class="card-section">
                    <h3>Database Connections by Wait Group</h3>
                    <div id="chart-container"
                         data-chart='{{.ChartData}}'
                         data-time-range='{{.TimeRange}}'
                         data-color-mapping='{{.ColorMap}}'
                         style="height: 400px">
                        <!-- Replace canvas with div for ApexCharts -->
                        <div id="chart"></div>
                    </div>
                </div>
                <div class="card-section">
                    <div id="snapshots-table-container"
                         hx-get="/snapshots/" hx-swap="innerHTML" hx-include="#selected-timerange,#selected-server"
                         hx-trigger="load"
                    ></div>

                </div>
            </div>
        </div>
    </div>
</div>