<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Server List</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <script src="https://unpkg.com/lucide@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/slideover.css">
    <link rel="stylesheet" href="/static/css/connections_timeseries.css">
    <link rel="stylesheet" href="/static/css/active_conn_table.css">
</head>
<body class="bg-gray-100">
{{template "top_bar.html" .}}

<div class="slideover-wrapper" id="slideover-wrapper" onclick="handleOutsideClick(event)">
    <div class="slideover" id="slideover">
        <div class="slideover-content">
        </div>
    </div>
</div>
<!-- Main Content -->
<div class="container mx-auto px-4 py-4">
    <div class="bg-white shadow rounded-md">
        <table class="min-w-full divide-y divide-gray-200 text-sm" id="server-list-table">
            <thead class="bg-gray-50">
            <tr>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Server Name</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Connections</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Request Rate</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">% Blocked</th>
                <th class="px-6 py-3 text-left font-medium text-gray-600">Wait Types</th>
            </tr>
            </thead>
            <tbody id="server-table-body" class="bg-white divide-y divide-gray-200">

            </tbody>
        </table>
    </div>
</div>

<script src="/static/js/refresh.js"></script>
<script src="/static/js/timerange.js"></script>
<script src="/static/js/slideover.js"></script>
<script src="/static/js/connections_timeseries.js"></script>
<script src="/static/js/active_conn_table.js"></script>
</body>
</html>